<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>959336530232-q4j7pt5boqp4vfdepd5uq4b39ndc1o00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.959336530232-q4j7pt5boqp4vfdepd5uq4b39ndc1o00</string>
	<key>API_KEY</key>
	<string>AIzaSyA8TXU9qcK18PghFSWWxekxuyMOfVrL7wc</string>
	<key>GCM_SENDER_ID</key>
	<string>959336530232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aacx</string>
	<key>PROJECT_ID</key>
	<string>aac-project-3d7b1</string>
	<key>STORAGE_BUCKET</key>
	<string>aac-project-3d7b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959336530232:ios:750ae94ddc51b352</string>
	<key>DATABASE_URL</key>
	<string>https://aac-project-3d7b1.firebaseio.com</string>
</dict>
</plist>